body {
    min-block-size: 100vb;
    font-family: sans-serif; 
    font-size: 1.4rem;
    line-height: 1.5;
    color: hsl(28, 37%, 93%);

    background-image: linear-gradient(hsl(352.58deg 38.19% 65.68%), hsl(349.72deg 86% 40.2%)); 
}

.header {
    display : flex;
    align-items : center;
    justify-content : center;
    background-color : hsl(349.72deg 89.16% 60.2% / 50%);
    margin : .4rem;
    padding-block : 1rem;
    padding-inline : 1.5rem;
    border-radius : 0.5rem;
}

.headerUl {
    align-items : center;
    display : flex;
    gap : 7rem;
    padding : 1rem;
    list-style : none;
    flex-wrap : wrap;
    justify-content : center;
}

.headerA {
    padding-inline : 1rem;
    padding-block : 0.8rem;
    border-radius : 0.5rem;
    color : hsl(352.58deg 95.7% 92.76% / 80%);
    background : hsl(349.72deg 89.16% 75.2%) ;
    text-decoration : none;
    transition : color 0.2s ease-in-out;
}

.headerA:hover {
    color : hsl(352.58deg 95.7% 94.76% / 95%);
}

@media screen and (max-width: 870px) {
    .header {
        flex-direction: column;
    }
}

.content {
    font-family : Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align : center;
    padding : 10px;
    margin : 4px;
}

.socials {
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 350px;
    margin-top : 1px;
    margin : 5px;
    font-family :Georgia, 'Times New Roman', Times, serif;
}

.images {
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 50px;
    margin-top : 0px;
    margin : 4px;
}
